*{margin: 0px; padding: 0px;} a{text-decoration: none;}
body{
    color: #009970;
    background-repeat: no-repeat;
    /*background-size: cover;*/
    font-size: 10pt;
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
section{
    width: 400px;
    height: 500px;
    margin: auto;
    margin-top: 10px;
    /*background-color: #f8f8f8;*/
    border: solid 0.5px #dddddd;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header{
    width: 100%;
    height: 50px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #FFF;
    border-bottom: solid 0.3px #EEE;
    background-image: url(logobf.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 120px;
}
iframe{
    width: 380px;
    height: 440px;
    border: none;
}
h5{
    margin-top: 20px;
}
/*--------------------------PÁGINA INICIAL--------------------------*/
#conteudomenu{
    width: 100%;
    height: auto;
    margin-top: 5px;
    /*background-color: #a3a3a3;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
li{
    width: 220px;
    height: 30px;
    background-color: #009970;
    margin-top: 10px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF
}
li:hover{
    transition: 0.3s;
    background-color: #86f3d6;
    color: #009970;
}
li.ultimo{
    width: 220px;
    height: 30px;
    background-color: #0085A1;
    margin-top: 10px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF
}
li.ultimo:hover{
    transition: 0.3s;
    background-color: #83dff1;
    color: #00262e;
}
/*--------------------------FIM PÁGINA INICIAL--------------------------*/

/*--------------------------iFRAME--------------------------*/
.caixa{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 380px;
    height: 400px;
    
}
th{
    font-size: 8pt;
    width: 120px;
    height: 30px;
    padding-left: 0px;
    /*background-color: #e7e7e7;*/
    border: solid 0px #009970;
    text-align: left;
}
td{
    width: 120px;
    height: 30px;
    padding-left: 0px;
    /*background-color: #e7e7e7;*/
    border: solid 0px #009970;
}
input[type=date]{
    border: solid 0.3px #009970;
    border-bottom: solid 0.3px #009970;
    width: 140px;
    height: 40px;
    color:#ffffff;
    outline: none;
    border-radius: 3px;
    background-color: #009970;
}
input[type=time]{
    padding-left: 0px;
    border: solid 0.3px #009970;
    border-bottom: solid 0.3px #009970;
    width: 134px;
    height: 40px;
    color:#809c95;
    outline: none;
    border-radius: 3px;
}
tr.hora2{
    width: 50px;
}
th.hora2{
    width: 50px;
    
}
input[type=time].hora02{
    border: 0px;
    width: 100px;
    height: 20px;
    background-color: #fff;
    outline: none;
    
}
select.equipamento{
    width: 280px;
    height: 30px;
    color:#809c95;
    background-color: #fff;
    outline: none;
    border: solid 0.3px #009970;
    border-bottom: 0.5px solid #0e9472;
    border-radius: 3px;
}
select.maquina{
    width: 280px;
    height: 30px;
    border: 0px;
    color:#809c95;
    border: solid 0.3px #009970;
    border-bottom: 0.5px solid #0e9472;
    background-color: #fff;
    outline: none;
    border-radius: 3px;
}
select.motivo{
    width: 280px;
    height: 30px;
    color:#809c95;
    border: solid 0.3px #009970;
    border-bottom: 0.5px solid #0e9472;
    background-color: #fff;
    outline: none;
    border-radius: 3px;
    
}
input[type=text].observacao{
    color:#809c95;
    width: 273px;
    height: 30px;
    border: solid 0.3px #009970;
    border-bottom: 0.5px solid #0e9472;
    /*background-color: #d8fdf4;*/
    outline: none;
    padding-left: 5px;
    border-radius: 3px;
}
.observacao::-webkit-input-placeholder{
    color: #809c95;
}
input[type=submit]{
    width: 280px;
    height: 30px;
    background-color: #0e9472;
    color: #fff;
    border: 0px;
    cursor: pointer;
    border-radius: 3px;
}
input[type=submit]:hover{
    transition: 0.3s;

}
.eqp{
    width: 240px;
    height: auto;
}
.final{
    padding-left: 0px;
    width: 284px;
}
table{
    width: 280px;
    height: auto;
   
}
.classe-radio{
    width: 250px;
    height: 50px;
  
    /*text-align: center;*/
    /*color: #fff;*/
}
hr{
    width: 220px;
    border: none;
    border-bottom: solid 0.3px #009970;
}
li.SantaLuzia{
    width: 220px;
    height: 30px;
    background-color: #FFC000;
    margin-top: 10px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF
}
